@font-face {
    font-family: 'greek';
    src: url('../fonts/greek/DalekPinpointBold.ttf') format('truetype');  
}

@font-face {
    font-family: 'greek2';
    src: url('../fonts/greek.2/CapitalisTypOasis.ttf') format('truetype');
}

body {
    background-color: #1F2F16;
    margin: 0;
}

header, footer {
    border-radius: 0.5rem;
    background-color: rgb(250, 244, 232);
}

header {
    overflow: hidden;
    height: 170px;
}

#logo {
    float: left;
    height: 100%;
    margin-right: 15px;
    display: flex;
}

#logo img {
    height: 100%;
    width: auto;
}

#titulo {
    float: left;
    border-bottom: 5px;
    font-family: 'greek';
    font-size: 53px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 30%;
    height: auto;
    margin-left: 35%;
    padding: 20px;
    display: flex;
}

#textoPie {
    border-radius: 0.5rem;
    background-color: rgb(231, 219, 195);
    text-align: left;
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-width: 250px;
    width: 100%;
    padding: 15px;
    margin-left: 20px;
}

.tipografia {
    font-family: 'greek2';
    margin: 0;
}

#rrss-container {
    display: flex;
    margin: 0;
}

.rrss {
    margin-right: 20px;
    width: 35px;
}

