@font-face {
    font-family: 'greek';
    src: url('../fonts/greek/DalekPinpointBold.ttf') format('truetype');
}

@font-face {
    font-family: 'greek2';
    src: url('../fonts/greek.2/CapitalisTypOasis.ttf') format('truetype');
}

.tipografia {
    font-family: 'greek2';
    margin: 0;
}

body {
    background-color: #000000;
    margin:0;
    padding: 0;
}


#header-contenedor{    
    border-radius: 0.8rem;
    height: 90px;
    width: 50%;
    top: 0;
    background-color: rgb(66, 66, 66);
    margin: 10px auto;
    color: azure;
} 

header {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 1000;
}

#logo {
    float: left;
    height: 100%;
    margin-right: 15px;
    display: flex;
    margin-left: 20px;
}

#logo img {
    height: 100%;
    width: auto;
}

#titulo {
    float: left;
    font-family: 'greek';
    font-size: 30px;
}

.dioses {
    width: 23%;
    float: right;
    margin-top: 4%;
}

#dioses-contenedor {
    margin-right: 10%;
}

#templo {
    margin-top: 3%;
    width: 6.75%;
    float: right;
    margin-right: 5%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 30%;
    height: 7%;
    margin-left: 35%;
    padding: 6px;
    display: flex;
    background-color: rgb(73, 73, 73);
    border-radius: 0.8rem;
}

#rrss-container {
    width: 35%;
    margin-right: 1%;
    margin-left: 5%;
    text-align: center;
}

.rrss {
    width: 30px;
    margin: 5%;
}

#contacto, #rrss-container {
    border-radius: 0.5rem;
    background-color: rgb(141, 141, 141);
    width: 45%;
}

#contacto {
    flex-direction: column;
    text-align: center;
    margin-left: 1%;
    padding: 10px;
    color: white;
}

nav {
    margin-top: 120px; 
    background-color: rgb(66, 66, 66);
    width: 70%;
    height: 55px;
    font-family: 'greek2';
    border-top: 0.5px solid #fdf398;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8rem;
    display: flex; /* ESTO */
}

#menuDioses, #menuNoticias, #menuMitos, #menuFormulario {
    width: 25%; 
    box-sizing: border-box;
    float: left;
    text-align: center;
    line-height: 55px;
    border-right: 0.1px solid #fdf398;
}

#menuFormulario {
    border-right: none;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    display: block; 
}

nav a:hover {
    color: #fdf398 ;
}

main {
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    align-items: center;
    margin-top: 50px; 
    margin-bottom: 60px; 
}

#anuncioIzq img,
#anuncioDcha img {
    width: 10%;
    float: left;
}

#menuDioses:hover,
#menuNoticias:hover,
#menuMitos:hover,
#menuFormulario:hover,
#correoFooter:hover {
    background-color: rgba(253, 243, 152, 0.2);
}

main {
text-align: center;
}

video {
    margin-top: 50px;
    width: 640px;
    height: 360px;
}

#informacion img {
    float: right;
}

#informacion {
    color: azure;
    padding: 15px;
    background-color: #252525;
    border: 0.1px solid #494949;
    border-radius: 0.8rem;
    transition: background-color 0.3s ease;
}

#informacion:hover {
    background-color: #3f3f3f; 
}

#informacion h1 {
    color: #fdf398;

}

#informacion p {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'
}
#redirigir {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    margin-top: 20px; 
}

.animaciones {
    width: 30%; 
    margin: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex; 
}

.animaciones img {
    width: 100%; 
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    color: azure; 
}

.animaciones:hover .info {
    transform: translateY(0);
}

#anuncioDcha img, #anuncioIzq img  {
    transition: transform 0.3s ease; 
  }
  
#anuncioDcha:hover img, #anuncioIzq:hover img {
    transform: scale(1.2); 
}

/* Estilos para el menú desplegable */
.desplegable {
    position: relative;
    width: 25%;
    float: left;
    text-align: center;
    line-height: 55px;
    border-right: 0.1px solid #fdf398;
}

.boton-desplegable {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
    color: white;
    text-decoration: none;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 0;
    border-radius: 0.8rem;
    font-family: Arial, sans-serif;
}

.contenido-desplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.contenido-desplegable a:hover {
    background-color: #ddd;
}

.desplegable:hover .contenido-desplegable {
    display: block;
}
