@font-face {
    font-family: 'greek';
    src: url('../fonts/greek/DalekPinpointBold.ttf') format('truetype');
}

@font-face {
    font-family: 'greek2';
    src: url('../fonts/greek.2/CapitalisTypOasis.ttf') format('truetype');
}

.tipografia {
    font-family: 'greek2';
    margin: 0;
}

body {
    background-color: #000000;
    margin:0;
    padding: 0;
}


#header-contenedor{    
    border-radius: 0.8rem;
    height: 90px;
    width: 50%;
    top: 0;
    background-color: rgb(66, 66, 66);
    margin: 10px auto;
    color: azure;
    margin-top: 15px;
} 

header {
    background-color: rgb(0, 0, 0);
    position: sticky;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 1000;
}

#logo {
    float: left;
    height: 100%;
    margin-right: 15px;
    display: flex;
    margin-left: 20px;
}

#logo img {
    height: 100%;
    width: auto;
}

.titulo-tipografia {
    float: left;
    font-family: 'greek';
    font-size: 30px;
}

.dioses {
    width: 23%;
    float: right;
    margin-top: 4%;
}

#dioses-contenedor {
    margin-right: 10%;
}

#templo {
    margin-top: 3%;
    width: 6.75%;
    float: right;
    margin-right: 5%;
}

main {
    margin-left: 5%;
    margin-right: 5%;   
    margin-top: 1%;
    margin-bottom: 5%;
}

#hercules {
    background-color: antiquewhite;
    color: #000000;
    text-align: center;
    padding: 1%;
    border-radius: 0.8rem;
}

#hercules img {
    width: 40%;
    height: 35%;
    transition: transform 0.3s ease; 
}

#hercules h1 {
    margin-top: 15px;
}

.contenedor-imagen-hercules {
    overflow: hidden; 
}

.contenedor-imagen-hercules img {
  transition: transform 0.3s ease; 
}

.contenedor-imagen-hercules:hover img {
  transform: scale(1.2); 
}
