@font-face {
    font-family: 'greek';
    src: url('../fonts/greek/DalekPinpointBold.ttf') format('truetype');
}

@font-face {
    font-family: 'greek2';
    src: url('../fonts/greek.2/CapitalisTypOasis.ttf') format('truetype');
}

@font-face {
    font-family: 'greek3';
    src: url(../fonts/greek.3/GRECOromanLubedWrestling.ttf) format(truetype);
}

@font-face {
    font-family: 'greek4';
    src: url(../fonts/greek.4/Roman\ SD.ttf) format(truetype);
}

.tipografia2 {
    font-family: 'greek2';
    margin: 0;
}

.tipografia3 {
    font-family: 'greek3';
    margin: 0;
    margin-top: 2%;
}

#tipografia4 {
    font-family: 'greek4';
    margin: 0;
    margin-top: 2%;
    color: azure;
    margin-bottom: 2%;
}

body {
    background-color: #000000;
    margin:0;
    padding: 0;
}


#header-contenedor{    
    border-radius: 0.8rem;
    height: 90px;
    width: 50%;
    top: 0;
    background-color: rgb(66, 66, 66);
    margin: 10px auto;
    color: azure;
} 

header {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 1000;
}

#logo {
    float: left;
    height: 100%;
    margin-right: 15px;
    display: flex;
    margin-left: 20px;
}

#logo img {
    height: 100%;
    width: auto;
}

#titulo {
    float: left;
    font-family: 'greek';
    font-size: 30px;
}

.dioses {
    width: 23%;
    float: right;
    margin-top: 2%;
}

#dioses-contenedor {
    margin-right: 10%;
}

#templo {
    margin-top: 3%;
    width: 6.75%;
    float: right;
    margin-right: 3%;
}

main {
    margin-top: 7%;
    margin-bottom: 5%;
}


#texto-noticia {
    font-family: 'Times New Roman', serif; 
    margin-left: 5%;
    margin-right: 5%;
}

#noticia1, #noticia2, #noticia3, #noticia4, #noticia5 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#noticia1 img, #noticia2 img, #noticia3 img, #noticia4 img, #noticia5 img {
    width: 40%; 
    margin-top: 20px;
    margin-bottom: 20px; 
    border: 2px solid #ddd; 
    border-radius: 8px;
    transition: transform 0.3s ease; 

}

#noticia1:hover img, #noticia2:hover img, #noticia3:hover img, #noticia4:hover img, #noticia5:hover img {  
    transform: scale(1.1); 
}
  
main h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}


#noticia1, #noticia3, #noticia5, .anuncios {
    background-color: rgb(231, 231, 231);
}

#noticia2, #noticia4 {
    background-color: #ffffff;
}

#noticia1 video {
    margin-bottom: 1%;
}

#texto-noticia a {
    color: blue; 
    text-decoration: underline; 
}

#texto-noticia a:hover {
    color: darkblue; 
}

.anuncios {
    text-align: center;
}


footer {
    position: fixed;
    bottom: 0;
    width: 30%;
    height: 6%;
    margin-left: 35%;
    padding: 6px;
    display: flex;
    background-color: rgb(73, 73, 73);
    border-radius: 0.8rem;
}

#rrss-container {
    width: 35%;
    margin-right: 1%;
    margin-left: 5%;
    text-align: center;
}

.rrss {
    width: 30px;
    margin: 5%;
}

#contacto, #rrss-container {
    border-radius: 0.5rem;
    background-color: rgb(141, 141, 141);
    width: 45%;
}

#contacto {
    flex-direction: column;
    text-align: center;
    margin-left: 1%;
    padding: 10px;
    color: white;
}

.boton-contenedor {
    margin-bottom: 2%;
    text-align: center;
    margin-top: 2%;
}

button {
    background-color: #3b3b3b; 
    color: white;
    padding: 10px 20px; 
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #45a049;
}
